<div class="">
    <h2 class="header">TODO LIST</h2>

    <div class="container">
        <div class="task-count">Number of unfinished tasks: {{getUnfinishedTasksCount()}}</div>

        <form class="todo-item" blur-on-submit ng-submit="addTask()">
            <input id="new-task" class="new-input new-task" placeholder="Add new task" ng-model="newTask"/>
        </form>

        <div ng-repeat="task in todos">
            <div class="todo-item list" ng-class="{strikeout: task.done}">
                <input type="checkbox" ng-model="task.done"/>
                <span class="todo-task">{{task.task}}</span>
                <span class="todo-type">{{task.type}}</span>
            </div>
        </div>
    </div>
</div>