.header {
    text-align: center;
    font-family: cursive;
}

.todo-item {
    border: 1px dotted lightgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    line-height: 45px;
}

.todo-item:hover {
    background: #b2ee89;
}

.todo-type {
    float: right;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

.todo-task {
    font-family: cursive;
}

.new-task {
    border: 0;
    line-height: 45px;
    height: 45px;
    width: 90%;
    font-family: cursive;
    margin-left: -10px;
    padding-left: 35px;
}

.new-task:focus{
    outline: none;
    border:1px solid #b2ee89;
    box-shadow: 0 0 10px #51ce7d;

}

.strikeout {
    position: relative;
}

.strikeout::after {
    border-bottom: 2px solid #646E63;
    content: "";
    left: 30px;
    position: absolute;
    right: 0;
    top: 50%;
}