body{
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-family: cursive;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.todo-item {

    border: 1px dotted lightgray;
    margin-bottom: 5px;

    line-height: 45px;

}

.list{
    padding-left: 10px;
    padding-right: 10px;
}

.list:hover {
    background: #b2ee89;
}

.todo-type {
    float: right;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

.todo-task {
    font-family: cursive;
}

.new-input {
    border: 0;
    line-height: 45px;
    height: 45px;
}

.new-input:focus{
    outline: none;
    border:1px solid #b2ee89;
    box-shadow: 0 0 10px #51ce7d;
}

.new-task {
    width: 100%;
    font-family: cursive;
    padding-left: 35px;
    box-sizing: border-box;
}

.task-count {
    margin-bottom: 10px;
}

.label {
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

.no-tasks {
    margin-top: 10px;
    text-align: center;
}

.search {
    float: right;
}

.search-input {
    border: 1px dotted lightgray;
    padding: 5px;
}

.strikeout {
    position: relative;
}

.strikeout::after {
    border-bottom: 2px solid #646E63;
    content: "";
    left: 30px;
    position: absolute;
    right: 0;
    top: 50%;
}