<div class="">
    <h2 class="header">TODO LIST BY {{::vm.userName}}</h2>

    <div class="container">
        <div>
            <div class="search">
                <input type="text"
                       class="search-input"
                       ng-model="vm.searchPattern"
                       ng-change="vm.searchTodos()"
                       ng-model-options="{ debounce: 300 }"
                       placeholder="search"/>
            </div>
            <div class="task-count label">Number of unfinished tasks: {{vm.unfinishedCount}}</div>

        </div>

        <form class="todo-item" blur-on-submit ng-submit="vm.addTask()">
            <input id="new-task" class="new-input new-task" placeholder="Add new task" ng-model="vm.newTask"/>
        </form>

        <div>
            <div ng-if="vm.todos.length > 0" ng-repeat="task in vm.todos | orderBy: 'done'">
                <todo-item task="task"></todo-item>
            </div>

            <div class="label no-tasks" ng-if="vm.todos.length == 0">
                You have no tasks yet
            </div>
        </div>
    </div>
</div>