@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

html, body {
  background: url("../assets/wood_bg.jpg");
  font-family: 'Bree Serif', sans-serif;
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  perspective: 900px;
  overflow: hidden;
}
.hidden { opacity:0; }
controls {
  font-size: 12px;opacity:0.3;
}
controls:hover{ opacity:1;}
symbol {
  font-size: 120px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity:0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  color: #000000;
}

sample { display:none}

comment {
  background-color: #222;
}

#title{
  font-size: 100px;
}

#title: move(50,-200);

#angular{
  img {
    width: 100px;
  }
}
#angular: move(-400,-190);


#titleExtra{
  font-size: 80px;
}

#titleExtra: move(0,-100);

#name {
  font-size: 52px;
}

#name: move(-50,70);

#mytitle {
  font-size: 32px;
}
#mytitle: move(-45,120);

#logo{
  img {
    width: 300px;
  }
}

#logo: move(350,110);

.s1 {
  #angular: show;
  #logo: show;
  #name:show;
  #mytitle: show;
  #title: show;
  #titleExtra: show;
}

.img-background{
  background: rgba(255, 255, 255, 0.3);
}

#learningCurve{
  img {
    width: 1000px;
  }
}

#accounting{
  img {
    width: 800px;
  }
}

#accounting: down(100);

#learningCurveText {
  font-size: 52px;
}

#learningCurveText: up(300);

.s2 {
  #angular: hide;
  #logo: hide;
  #name:hide;
  #mytitle: hide;
  #title: hide;
  #titleExtra: hide;

  #learningCurve: show;
  #learningCurveText: show;
}

.s3{
  #learningCurve: hide;
  #learningCurveText: hide;

  #twinfield: show;
}

.s4{
  #twinfield{
    transform: scale(0.5, 0.5) translateX(-500px) translateY(-500px);
  }

  #accounting: show;
  #angular: move(400,-200);

}

#rake {
  img {
    width: 1000px;
  }
}

#angularVersion{
  font-size: 30px;
}

#angularVersion: move(400,-140);

#rakeText{
  font-size: 52px;
}

#rakeText: down(300);

.s5{
  #twinfield: hide;
  #accounting: hide;

  #angularVersion: show;
  #angular: show;
  #rake: show;
  #rakeText: show;
}

#rakedance{
  img {
    width: 1000px;
  }
}

#rakeDanceText{
  font-size: 52px;
}

#rakeDanceText: down(300);

 .s6 {

    #angularVersion: hide;
    #rake: hide;
    #rakeText: hide;


   #rake {
     transform: rotateY(180deg);
    }

    #rakedance: show;
    #rakeDanceText: show;

    #angular {
     z-index: 1;
    }
 }

#childrenText{
  font-size: 46px;
}

#childrenText: down(300);

.s7 {
  #angular: hide;
  #rakedance: hide;
  #rakeDanceText: hide;

  #children: show;
  #childrenText: show;
}


#adults{
  img {
    height: 487px;
  }
}

#adultsText{
  font-size: 46px;
}

#adultsText: down(300);


.s8 {
  #children: left(350);
  #adults: right(350);

  #adults: show;

  #childrenText: hide;
  #adultsText: show;
}

#tipTypes{
  font-size: 80px;
}

#performanceText{
  font-size: 52px;
}

#maintenanceText{
  font-size: 52px;
}

#performance: left(1000);
#maintenance: right(1000);
#performanceText: move(-300,500);
#maintenanceText: move(300,500);
#tipTypes: up(600);

.s9 {

  #children: down(800);
  #adults: down(800);
  #adultsText: down(800);

  #children: hide;
  #adults: hide;
  #adultsText: hide;

  #performance: right(700);
  #maintenance: left(700);
  #performanceText: up(200);
  #maintenanceText: up(200);
  #tipTypes: down(230);

  #performance: show;
  #maintenance: show;
  #performanceText: show;
  #maintenanceText: show;
  #tipTypes: show;
}

.s10 {

  #performance{
    transform: scale(1.2, 1.2) translateX(-250px);
  }

  #performanceText{
    transform: scale(1.2, 1.2) translateX(-250px) translateY(300px);
  }
}

.s11 {

  #performance{
    transform: scale(1, 1) translateX(-300px);
  }

  #performanceText{
    transform: scale(1, 1) translateX(-300px) translateY(300px);
  }

  #maintenance{
    transform: scale(1.2, 1.2) translateX(250px);
  }

  #maintenanceText{
    transform: scale(1.2, 1.2) translateX(250px) translateY(300px);
  }
}

.s12 {

  #maintenance{
    transform: scale(1, 1) translateX(300px);
  }

  #maintenanceText{
    transform: scale(1, 1) translateX(300px) translateY(300px);
  }
}

#bestPractice{
  transform: scale(0, 0);
}

.s13 {
  #performance: down(700);
  #maintenance: down(700);
  #performanceText: down(800);
  #maintenanceText: down(800);
  #tipTypes: down(800);

  #performance: hide;
  #maintenance: hide;
  #performanceText: hide;
  #maintenanceText: hide;
  #tipTypes: hide;

  #bestPractice: show;
  #bestPractice{
    transform: scale(2, 2);
  }

}

.prettyprint { font-size: 20px; padding: 20px;box-shadow: 0 0 20px #222;}

.tip-title{
  font-size: 60px;
}

#anonymousFuncBad .prettyprint{
  height: 150px;
}

#anonymousFuncGood .prettyprint{
  height: 150px;
}

#anonymous img{
  height:480px;
}

#tip1: up(500);
#anonymous:down(500);

.s14 {
  #bestPractice: hide;
  #bestPractice{
    transform: scale(0, 0);
  }

  #tip1: down(200);
  #anonymous: up(500);

  #tip1: show;
  #anonymous:show;
}

#anonymousFuncBad{
  transform: scale(0, 0);
}

.s15 {
  #anonymous{
    transform: scale(0, 0);
  }

  #anonymousFuncBad{
    transform: scale(1, 1);
  }

  #anonymous: hide;
  #anonymousFuncBad:show;
}

#bad,#good{
  z-index: 10;
  img{
    width: 40px;
  }
}

#bad: up(100);
#good: up(100);

.s16 {

  #bad:show;
  #good:show;

  #bad: left(48);
  #good: right(660);
  #anonymousFuncBad: left(350);
  #anonymousFuncGood: right(350);

  #anonymousFuncGood:show;
}

#tip2: down(700);
#anonymous2: down(700);

.s17 {
  #anonymousFuncBad, #bad{
    transform: rotate(-90deg) translateY(-700px);
  }
  #anonymousFuncBad: hide;
  #bad: hide;

  #anonymousFuncGood, #good {
    transform: rotate(90deg) translateY(-700px);
  }
  #anonymousFuncGood: hide;
  #good: hide;

  #tip1: up(100) rotate(90) hide;
  #tip2: up(1000) show;
  #anonymous2: up(700) show;
}