@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  background: url("../assets/wood_bg.jpg");
  font-family: 'Bree Serif', sans-serif;
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
  perspective: 900px;
  overflow: hidden;
}
.hidden { opacity:0; }
controls {
  font-size: 12px;opacity:0.3;
}
controls:hover{ opacity:1;}
symbol {
  font-size: 120px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity:0;
  text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  color: #121111;
}

.snippet{
  font-style: italic;
  color: #3d43cd;
}
sample { display:none}

comment {
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

#title{
  font-size: 100px;
}

#title: move(50,-200);

#angular{
  img {
    width: 100px;
  }
}
#angular: move(-400,-190);


#titleExtra{
  font-size: 80px;
}

#titleExtra: move(0,-100);

#name {
  font-size: 52px;
}

#name: move(-50,70);

#mytitle {
  font-size: 32px;
}
#mytitle: move(-45,120);

#logo{
  img {
    width: 300px;
  }
}

#logo: move(350,110);

.s1 {
  #angular: show;
  #logo: show;
  #name:show;
  #mytitle: show;
  #title: show;
  #titleExtra: show;
}

.img-background{
  background: rgba(255, 255, 255, 0.3);
}

#learningCurve{
  img {
    width: 1000px;
  }
}

#accounting{
  img {
    width: 800px;
  }
}

#accounting: down(100);

#learningCurveText {
  font-size: 52px;
}

#learningCurveText: up(300);

.s2 {
  #angular: hide;
  #logo: hide;
  #name:hide;
  #mytitle: hide;
  #title: hide;
  #titleExtra: hide;

  #learningCurve: show;
  #learningCurveText: show;
}

.s3{
  #learningCurve: hide;
  #learningCurveText: hide;

  #twinfield: show;
}

.s4{
  #twinfield{
    transform: scale(0.5, 0.5) translateX(-500px) translateY(-500px);
  }

  #accounting: show;
  #angular: move(400,-200);

}

#rake {
  img {
    width: 1000px;
  }
}

#angularVersion{
  font-size: 30px;
}

#angularVersion: move(400,-140);

#rakeText{
  font-size: 52px;
}

#rakeText: down(300);

.s5{
  #twinfield: hide;
  #accounting: hide;

  #angularVersion: show;
  #angular: show;
  #rake: show;
  #rakeText: show;
}

#rakedance{
  img {
    width: 1000px;
  }
}

#rakeDanceText{
  font-size: 52px;
}

#rakeDanceText: down(300);

 .s6 {

    #angularVersion: hide;
    #rake: hide;
    #rakeText: hide;


   #rake {
     transform: rotateY(180deg);
    }

    #rakedance: show;
    #rakeDanceText: show;

    #angular {
     z-index: 1;
    }
 }

#childrenText{
  font-size: 46px;
}

#childrenText: down(300);

.s7 {
  #angular: hide;
  #rakedance: hide;
  #rakeDanceText: hide;

  #children: show;
  #childrenText: show;
}


#adults{
  img {
    height: 487px;
  }
}

#adultsText{
  font-size: 46px;
}

#adultsText: down(300);


.s8 {
  #children: left(350);
  #adults: right(350);

  #adults: show;

  #childrenText: hide;
  #adultsText: show;
}

#tipTypes{
  font-size: 80px;
}

#performanceText{
  font-size: 52px;
}

#maintenanceText{
  font-size: 52px;
}

#performance: left(1000);
#maintenance: right(1000);
#performanceText: move(-300,500);
#maintenanceText: move(300,500);
#tipTypes: up(600);

.s9 {

  #children: down(800);
  #adults: down(800);
  #adultsText: down(800);

  #children: hide;
  #adults: hide;
  #adultsText: hide;

  #performance: right(700);
  #maintenance: left(700);
  #performanceText: up(200);
  #maintenanceText: up(200);
  #tipTypes: down(230);

  #performance: show;
  #maintenance: show;
  #performanceText: show;
  #maintenanceText: show;
  #tipTypes: show;
}

.s10 {

  #performance{
    transform: scale(1.2, 1.2) translateX(-250px);
  }

  #performanceText{
    transform: scale(1.2, 1.2) translateX(-250px) translateY(300px);
  }
}

.s11 {

  #performance{
    transform: scale(1, 1) translateX(-300px);
  }

  #performanceText{
    transform: scale(1, 1) translateX(-300px) translateY(300px);
  }

  #maintenance{
    transform: scale(1.2, 1.2) translateX(250px);
  }

  #maintenanceText{
    transform: scale(1.2, 1.2) translateX(250px) translateY(300px);
  }
}

.s12 {

  #maintenance{
    transform: scale(1, 1) translateX(300px);
  }

  #maintenanceText{
    transform: scale(1, 1) translateX(300px) translateY(300px);
  }
}

#bestPractice{
  transform: scale(0, 0);
}

.s13 {
  #performance: down(700);
  #maintenance: down(700);
  #performanceText: down(800);
  #maintenanceText: down(800);
  #tipTypes: down(800);

  #performance: hide;
  #maintenance: hide;
  #performanceText: hide;
  #maintenanceText: hide;
  #tipTypes: hide;

  #bestPractice: show;
  #bestPractice{
    transform: scale(2, 2);
  }

}

.prettyprint { font-size: 20px; padding: 20px;box-shadow: 0 0 20px #222;}

.tip-title{
  font-size: 60px;
}

.tip-desc{
  font-size: 50px;
  text-decoration: underline;
}

#anonymousFuncBad .prettyprint{
  height: 300px;
}

#anonymousFuncGood .prettyprint{
  height: 300px;
}

#anonymous img{
  height:480px;
}

#tip1: up(500);
#anonymous:down(500);

.s14 {
  #bestPractice: hide;
  #bestPractice{
    transform: scale(0, 0);
  }

  #tip1: down(200);
  #anonymous: up(500);

  #tip1: show;
  #anonymous:show;

  #maintenance{transform: translateX(600px) translateY(-300px) scale(0.15, 0.15) ;};
  #maintenance: show;
}

#anonymousFuncBad{
  transform: scale(0, 0);
}

.s15 {
  #anonymous{
    transform: scale(0, 0);
  }

  #anonymousFuncBad{
    transform: scale(1, 1);
  }

  #anonymous: hide;
  #anonymousFuncBad:show;
}

#bad,#good{
  z-index: 10;
  img{
    width: 40px;
  }
}

#bad: up(175);
#good: up(175);

.s16 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);
  #anonymousFuncBad: left(350);
  #anonymousFuncGood: right(350);
  #tip1Desc: down(250);

  #anonymousFuncGood:show;
  #tip1Desc:show;
}

#tip2: down(700);
#tip2img: down(700);

.s17 {
  #anonymousFuncBad, #bad{
    transform: rotate(-90deg) translateY(-700px);
  }
  #anonymousFuncBad: hide;
  #bad: hide;

  #anonymousFuncGood, #good {
    transform: rotate(90deg) translateY(-700px);
  }
  #anonymousFuncGood: hide;
  #good: hide;

  #tip1: up(100) rotate(90) hide;
  #tip1Desc: up(600) rotate(90) hide;
  #tip2: up(1000) show;
  #tip2img: up(700) show;
}

.tip-image img{  height:480px;}

#tip2bad .prettyprint, #tip2good .prettyprint{  height: 300px; }
#tip2bad{  transform: scale(0, 0);}

.s18 {
  #tip2img{    transform: scale(0, 0);  }
  #tip2bad{    transform: scale(1, 1);  }

  #tip2img: hide;
  #tip2bad:show;
}

.s19 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);

  #tip2bad: left(350);
  #tip2good: right(350);
  #tip2desc: down(250);

  #tip2good:show;
  #tip2desc:show;
}

#tip3: down(700);
#tip3img: down(700);

.s20 {

  #tip2bad, #bad{    transform: rotate(-90deg) translateY(-700px);  }
  #tip2bad: hide;
  #bad: hide;

  #tip2good, #good {    transform: rotate(90deg) translateY(-700px);  }
  #tip2good: hide;
  #good: hide;

  #tip2: up(100) rotate(90) hide;
  #tip2desc: up(600) rotate(90) hide;
  #tip3: up(1000) show;
  #tip3img: up(700) show;
}

#tip3bad .prettyprint, #tip3good .prettyprint{  height: 500px; }
#tip3bad{  transform: scale(0, 0);}

.s21 {
  #tip3img{    transform: scale(0, 0);  }
  #tip3bad{    transform: scale(1, 1);  }

  #tip3img: hide;
  #tip3bad:show;
}

.s22 {

  #bad:show left(95);
  #good:show left(2000);

  #tip3bad: left(350);
  #tip3good: right(350);
  #tip3desc: down(350);

  #tip3good:show;
  #tip3desc:show;
}

#tip4: down(700);
#tip4img: down(700);

.s23 {
  #tip3bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip3bad: hide;
  #bad: hide;

  #tip3good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip3good: hide;
  #good: hide;

  #tip3: up(100) rotate(90) hide;
  #tip3desc: up(600) rotate(90) hide;
  #tip4: up(1000) show;
  #tip4img: up(700) show;

}

#tip4bad .prettyprint, #tip4good .prettyprint{  height: 600px; }
#tip4bad{  transform: scale(0, 0);}

#tip4bad: down(60);
#tip4good: down(60);

.s24 {
  #tip4img{    transform: scale(0, 0);  }
  #tip4bad{    transform: translateY(60px) scale(1, 1) ;  }

  #tip4img: hide;
  #tip4bad:show;
}

.s25 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);

  #tip4bad: left(350);
  #tip4good: right(350);
  #tip4desc: down(400);

  #tip4good:show;
  #tip4desc:show;
}

#tip5: down(700);
#tip5img: down(700);

.s26 {
  #tip4bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip4bad: hide;
  #bad: hide;

  #tip4good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip4good: hide;
  #good: hide;

  #tip4: up(100) rotate(90) hide;
  #tip4desc: up(600) rotate(90) hide;
  #tip5: up(1000) show;
  #tip5img: up(700) show;

  #performance{transform: translateX(520px) translateY(-300px) scale(0.15, 0.15) ;};
  #performance: show;
}


#tip5bad .prettyprint, #tip5good .prettyprint{  height: 450px; }

#tip5bad{  transform: scale(0, 0);}

.s27 {
  #tip5img{    transform: scale(0, 0);  }
  #tip5bad{    transform: scale(1, 1);  }

  #tip5img: hide;
  #tip5bad:show;
}

.s28 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);

  #tip5bad: left(350);
  #tip5good: right(350);
  #tip5desc: down(300);

  #tip5good:show;
  #tip5desc:show;
}

#tip6: down(700);
#tip6img: down(700);

.s29 {
  #tip5bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip5bad: hide;
  #bad: hide;

  #tip5good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip5good: hide;
  #good: hide;

  #tip5: up(100) rotate(90) hide;
  #tip5desc: up(600) rotate(90) hide;
  #tip6: up(1000) show;
  #tip6img: up(700) show;
}

#tip6bad .prettyprint, #tip6good .prettyprint{  height: 450px; }

#tip6bad{  transform: scale(0, 0);}

.s30 {
  #tip6img{    transform: scale(0, 0);  }
  #tip6bad{    transform: scale(1, 1);  }

  #tip6img: hide;
  #tip6bad:show;
}

.s31 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);

  #tip6bad: left(350);
  #tip6good: right(350);
  #tip6desc: down(300);

  #tip6good:show;
  #tip6desc:show;
}

#tip7: down(700);
#tip7img: down(700);

.s32 {
  #tip6bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip6bad: hide;
  #bad: hide;

  #tip6good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip6good: hide;
  #good: hide;

  #tip6: up(100) rotate(90) hide;
  #tip6desc: up(600) rotate(90) hide;
  #tip7: up(1000) show;
  #tip7img: up(700) show;
  #maintenance: hide;
}

#tip7bad .prettyprint, #tip7good .prettyprint{  height: 450px; }

#tip7bad{  transform: scale(0, 0);}

.s33 {
  #tip7img{    transform: scale(0, 0);  }
  #tip7bad{    transform: scale(1, 1);  }

  #tip7img: hide;
  #tip7bad:show;
}

.s34 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);

  #tip7bad: left(350);
  #tip7good: right(350);
  #tip7desc: down(300);

  #tip7good:show;
  #tip7desc:show;
}

#tip8: down(700);
#tip8img: down(700);

.s35 {
  #tip7bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip7bad: hide;
  #bad: hide;

  #tip7good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip7good: hide;
  #good: hide;

  #tip7: up(100) rotate(90) hide;
  #tip7desc: up(600) rotate(90) hide;
  #tip8: up(1000) show;
  #tip8img: up(700) show;
  #maintenance: hide;
}

#tip8bad .prettyprint, #tip8good .prettyprint{  height: 300px; }
#tip8bad{  transform: scale(0, 0);}

.s36 {
  #tip8img{    transform: scale(0, 0);  }
  #tip8bad{    transform: scale(1, 1);  }

  #tip8img: hide;
  #tip8bad:show;
}

.s37 {

  #bad:show;
  #good:show;

  #bad: left(95);
  #good: right(635);

  #tip8bad: left(350);
  #tip8good: right(350);
  #tip8desc: down(250);

  #tip8good:show;
  #tip8desc:show;
}

#tip9: down(700);
#tip9img: down(700);

.s38 {
  #tip8bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip8bad: hide;
  #bad: hide;

  #tip8good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip8good: hide;
  #good: hide;

  #tip8: up(100) rotate(90) hide;
  #tip8desc: up(600) rotate(90) hide;
  #tip9: up(1000) show;
  #tip9img: up(700) show;
  #maintenance: show;
}

#tip9bad .prettyprint, #tip9good .prettyprint{  height: 250px; }
#tip9bad{  transform: scale(0, 0);}

.s39 {
  #tip9img{    transform: scale(0, 0);  }
  #tip9bad{    transform: scale(1, 1);  }

  #tip9img: hide;
  
  #tip9bad:show;
}

.s40 {

  #bad:show left(95);
  #good:show right(635);

  #tip9bad: left(350);
  #tip9good: right(350) show;
  #tip9desc: down(200) show;
}

#tip10: down(700);
#tip10img: down(700);

.s41 {
  #tip9bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip9bad: hide;
  #bad: hide;

  #tip9good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip9good: hide;
  #good: hide;

  #tip9: up(100) rotate(90) hide;
  #tip9desc: up(600) rotate(90) hide;
  #tip10: up(1000) show;
  #tip10img: up(700) show;
  #maintenance: show;
}

.tip-text{
  width: 1000px;
}

#tip10desc1: left(1000);
#tip10desc2: right(1000);

.s42 {
  #tip10img{    transform: scale(0, 0);  }

  #tip10img: hide;
  #tip10desc1: right(1000) show;
  #tip10desc2: left(1000) show;
}

#tip11: down(700);
#tip11img: down(700);

.s43 {
  #tip10: up(100) rotate(90) hide;

  #tip10desc1: left(1000) hide;
  #tip10desc2: right(1000) hide;

  #tip11: up(1000) show;
  #tip11img: up(700) show;
  #performance: hide;
}

#tip11desc1: left(1000);
#tip11desc2: right(1000);

.s44 {
  #tip11img{    transform: scale(0, 0);  }

  #tip11img: hide;
  #tip11desc1: right(1000) show;
  #tip11desc2: left(1000) show;
}

#tip12: down(700);
#tip12img: down(700);

.s45 {
  #tip11: up(100) rotate(90) hide;

  #tip11desc1: left(1000) hide;
  #tip11desc2: right(1000) hide;

  #tip12: up(1000) show;
  #tip12img: up(700) show;
  #performance: hide;
}

#tip12bad .prettyprint, #tip12good .prettyprint{  height: 500px; }
#tip12bad{  transform: scale(0, 0);}

.s46 {
  #tip12img{    transform: scale(0, 0);  }
  #tip12bad{    transform: scale(1, 1);  }

  #tip12img: hide;

  #tip12bad:show;
}

.s47 {

  #bad:show left(95);
  #good:show right(635);

  #tip12bad: left(350);
  #tip12good: right(350) show;
  #tip12desc: down(350) show;
}

#tip13: down(700);
#tip13img: down(700);

.s48 {
  #tip12bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip12bad: hide;
  #bad: hide;

  #tip12good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip12good: hide;
  #good: hide;

  #tip12: up(100) rotate(90) hide;
  #tip12desc: up(600) rotate(90) hide;
  #tip13: up(1000) show;
  #tip13img: up(700) show;
}

#tip13bad .prettyprint, #tip13good .prettyprint{  height: 480px; }
#tip13bad{  transform: scale(0, 0);}

.s49 {
  #tip13img{    transform: scale(0, 0);  }
  #tip13bad{    transform: scale(1, 1);  }

  #tip13img: hide;

  #tip13bad:show;
}

.s50 {

  #bad:show left(95);
  #good:show right(635);

  #tip13bad: left(350);
  #tip13good: right(350) show;
  #tip13desc: down(350) show;
}

#tip14: down(700);
#tip14img: down(700);

.s51 {
  #tip13bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip13bad: hide;
  #bad: hide;

  #tip13good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip13good: hide;
  #good: hide;

  #tip13: up(100) rotate(90) hide;
  #tip13desc: up(600) rotate(90) hide;
  #tip14: up(1000) show;
  #tip14img: up(700) show;
}


#tip14bad .prettyprint, #tip14good .prettyprint{  height: 480px; }
#tip14bad{  transform: scale(0, 0);}

.s52 {
  #tip14img{    transform: scale(0, 0);  }
  #tip14bad{    transform: scale(1, 1);  }

  #tip14img: hide;

  #tip14bad:show;
}

.s53 {

  #bad:show left(95);
  #good:show right(635);

  #tip14bad: left(350);
  #tip14good: right(350) show;
  #tip14desc: down(350) show;
}

#tip15: down(700);
#tip15img: down(700);

.s54 {
  #tip14bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip14bad: hide;
  #bad: hide;

  #tip14good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip14good: hide;
  #good: hide;

  #tip14: up(100) rotate(90) hide;
  #tip14desc: up(600) rotate(90) hide;
  #tip15: up(1000) show;
  #tip15img: up(700) show;
}


#tip15bad .prettyprint, #tip15good .prettyprint{  height: 350px; }
#tip15bad{  transform: scale(0, 0);}

.s55 {
  #tip15img{    transform: scale(0, 0);  }
  #tip15bad{    transform: scale(1, 1);  }

  #tip15img: hide;

  #tip15bad:show;
}

.s56 {

  #bad:show left(95);
  #good:show right(635);

  #tip15bad: left(350);
  #tip15good: right(350) show;
  #tip15desc: down(250) show;
}

#tip16: down(700);
#tip16img: down(700);

.s57 {
  #tip15bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip15bad: hide;
  #bad: hide;

  #tip15good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip15good: hide;
  #good: hide;

  #tip15: up(100) rotate(90) hide;
  #tip15desc: up(600) rotate(90) hide;
  #tip16: up(1000) show;
  #tip16img: up(700) show;
}


#tip16bad .prettyprint, #tip16good .prettyprint{  height: 480px; }
#tip16bad{  transform: scale(0, 0);}

.s58 {
  #tip16img{    transform: scale(0, 0);  }
  #tip16bad{    transform: scale(1, 1);  }

  #tip16img: hide;

  #tip16bad:show;
}

.s59 {

  #bad:show left(95);
  #good:show right(635);

  #tip16bad: left(350);
  #tip16good: right(350) show;
  #tip16desc: down(350) show;
}

#tip17: down(700);
#tip17img: down(700);

.s60 {
  #tip16bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip16bad: hide;
  #bad: hide;

  #tip16good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip16good: hide;
  #good: hide;

  #tip16: up(100) rotate(90) hide;
  #tip16desc: up(600) rotate(90) hide;
  #tip17: up(1000) show;
  #tip17img: up(700) show;
}

#tip17bad .prettyprint, #tip17good .prettyprint{  height: 480px; }
#tip17bad{  transform: scale(0, 0);}

.s61 {
  #tip17img{    transform: scale(0, 0);  }
  #tip17bad{    transform: scale(1, 1);  }

  #tip17img: hide;

  #tip17bad:show;
}

.s62 {

  #bad:show left(95);
  #good:show right(635);

  #tip17bad: left(350);
  #tip17good: right(350) show;
  #tip17desc: down(350) show;
}

#tip18: down(700);
#tip18img: down(700);

.s63 {
  #tip17bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip17bad: hide;
  #bad: hide;

  #tip17good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip17good: hide;
  #good: hide;

  #tip17: up(100) rotate(90) hide;
  #tip17desc: up(600) rotate(90) hide;
  #tip18: up(1000) show;
  #tip18img: up(700) show;
}


#tip18bad .prettyprint, #tip18good .prettyprint{  height: 480px; }
#tip18bad{  transform: scale(0, 0);}

.s64 {
  #tip18img{    transform: scale(0, 0);  }
  #tip18bad{    transform: scale(1, 1);  }

  #tip18img: hide;

  #tip18bad:show;
}

.s65 {

  #bad:show left(95);
  #good:show right(635);

  #tip18bad: left(350);
  #tip18good: right(350) show;
  #tip18desc: down(350) show;
}

#tip19: down(700);
#tip19img: down(700);

.s66 {
  #tip18bad, #bad{  transform: rotate(-90deg) translateY(-700px);  }
  #tip18bad: hide;
  #bad: hide;

  #tip18good, #good {  transform: rotate(90deg) translateY(-700px);  }
  #tip18good: hide;
  #good: hide;

  #tip18: up(100) rotate(90) hide;
  #tip18desc: up(600) rotate(90) hide;
  #tip19: up(1000) show;
  #tip19img: up(700) show;
}

#tip19desc1: down(50) left(1000);
#tip19desc2: down(50) right(1000);


.s67 {

  .tip-text{
    width: 1200px;
  }

  #tip19img{    transform: scale(0, 0);  }

  #tip19img: hide;
  #tip19desc1: right(1000) show;
  #tip19desc2: left(1000) show;
}

#tip20: down(700);
#tip20img: down(700);

.s68 {
  #tip19: up(100) rotate(90) hide;

  #tip19desc1: left(1000) hide;
  #tip19desc2: right(1000) hide;

  #tip20: up(1000) show;
  #tip20img: up(700) show;
  #performance: hide;
}
